<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>314065278334-4k42gu98u7m34ckge123h4uqoqf8j64k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314065278334-4k42gu98u7m34ckge123h4uqoqf8j64k</string>
	<key>API_KEY</key>
	<string>AIzaSyBsh9uJ9ppFEhxzXJVr8nGMqaB6NVnKvTg</string>
	<key>GCM_SENDER_ID</key>
	<string>314065278334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.BuddyCare</string>
	<key>PROJECT_ID</key>
	<string>buddycare-6513b</string>
	<key>STORAGE_BUCKET</key>
	<string>buddycare-6513b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314065278334:ios:6471f7af77c76f4e</string>
	<key>DATABASE_URL</key>
	<string>https://buddycare-6513b.firebaseio.com</string>
</dict>
</plist>